<!DOCTYPE html>
<html>
    <head>
        <link id="stylesheet" rel="stylesheet" href="../resources/css/login-light-mode.css">
        <title>Login</title>
    </head>
    <body>
        <button id="themeToggle" class="themeToggle">🌙</button>
        <form class="loginForm" id="loginForm">
            <label for="email">E-Mail:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            
            <input type="submit" value="Login" class="button"/>
            <input type="button" id="registerButton" value="Register" class="button"/>
        </form>
        
        <script src="../scripts/login.js"></script>
    </body>
</html>