<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../resources/css/login-dark-mode.css">
        <title>Login</title>
    </head>
    <body>
        <form class="loginForm" id="loginForm">
            <label for="email">E-Mail:</label><br>
            <input type="text" id="email" name="email"><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="repeat-password">Repeat Password:</label><br>
            <input type="password" id="repeat-password" name="repeat-password"><br><br>
            
            <input type="submit" value="Register">
        </form>
        
        <script src="login.js"></script>
    </body>
</html>